		<div id="primarycontent">
		
			<!-- primary content start -->
		
			<div class="post">
				<div class="header">
					<h3>Welcome to cashbook<sup>1.0</sup> by tomrabelo</h3>
					<div class="date">August 1, 2006</div>
				</div>
				<div class="content">
					<img src="images/pic1.jpg" class="picA floatleft" alt="" />
					<p>Be welcome. <strong>cashbook</strong><sup>1.0</sup> is a personal financial application, helping anyone to manage (in a simple way) his money, from whom the must receive money and for whom he own money :)</p>
					<p>You can find more of our free work at this site or <a href="http://www.nodethirtythree.com/">our site</a>, or some of our commercial work on <a href="http://www.4templates.com/?aff=n33">4Templates.com</a>, a commercial website template site.</p>
				</div>			
				<div class="footer">
					<ul>
						<li class="printerfriendly"><a href="#">Printer Friendly</a></li>
						<li class="comments"><a href="#">Comments (18)</a></li>
						<li class="readmore"><a href="#">Read more</a></li>
					</ul>
				</div>
			</div>
		
			<!-- primary content end -->
	
		</div>
		
		<div id="secondarycontent">

			<!-- secondary content start -->
		
			<h3>Statistics</h3>
			<div class="content">
				<img src="images/pic2.jpg" class="picB" alt="" />
				<p><strong>Nullam turpis</strong> vestibulum et sed dolore. Nulla facilisi. Sed tortor. lobortis commodo. <a href="#">More ...</a></p>
			</div>


			<!-- secondary content end -->

		</div>
